#AlloyGif {
    width: 50%;
    transition: width 0.3s ease-in-out;
    margin: 1%;
}

#AlloyGif:hover {
    width: 75%;
}


@media (max-width: 768px) {
  #AlloyContainer {
    flex-direction: column-reverse !important;
  }
}