#nav {
    background: rgba(29, 247, 247, 0.5);
    backdrop-filter: blur(8px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    background: linear-gradient(45deg,rgba(0, 217, 255, 0.75) 0%, rgba(4, 216, 75, 0.75) 50%, rgba(0, 172, 202, 0.75) 100%);
}


/* Adding #nav at the front makes this rule "stronger" than Bootstrap's defaults */
#nav .nav-link.active {
    background-color: rgba(255, 255, 255, 0.8); 
    
    color: black !important; 
    
    border-radius: 8px; 

    transition: background-color 0.3s ease; 
}