#nav {
    background: rgba(29, 247, 247, 0.5);
    backdrop-filter: blur(8px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    background: linear-gradient(45deg,rgba(4, 216, 75, 0.75) 0%, rgba(0, 156, 184, 0.75) 50%, rgba(0, 199, 235, 0.75) 100%);
}

.button{
    color: white;
}