body {
  background: #70faff;
  background: linear-gradient(149deg,rgb(66, 147, 150) 0%, rgb(66, 143, 85) 50%, rgb(43, 81, 99) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  background: rgb(46, 46, 46);
  box-shadow: 
    15px 0px 10px -5px rgba(0, 0, 0, 0.2),
    -15px 0px 10px -5px rgba(0, 0, 0, 0.2);
  width: 70%;
  color: white;
}

#pfp {
  width: 25vw;
}

p {
  text-align: left;
}