#contactIcon {
    width: 5vw;
    transition: width 0.3s ease-in-out;
    filter: brightness(0) invert(1);
}

#contactIcon:hover {
  width: 120px;
}

.hover-pointer {
  cursor: pointer;
}

#topContainer {
  background: linear-gradient(45deg,rgba(0, 206, 69, 0.45) 0%, rgba(0, 142, 167, 0.45) 50%, rgba(0, 172, 202, 0.45) 100%);
  border-radius: 8px;
}


@media (max-width: 768px) {
  #all {
    flex-direction: column !important;
  }

  #contactIcon {
    margin: 1% !important;
    width: 50px;
  }
}