#contactIcon {
    width: 5vw;
    transition: width 0.3s ease-in-out;
    filter: brightness(0) invert(1);
}

#contactIcon:hover {
  width: 120px;
}

.hover-pointer {
  cursor: pointer;
}


@media (max-width: 768px) {
  #all {
    flex-direction: column !important;
  }

  #contactIcon {
    margin: 1% !important;
    width: 50px;
  }
}