#card {
    transition: transform 0.3s ease-in-out;
    background: #ffffff;
    background: linear-gradient(45deg,rgba(255, 255, 255, 0.5) 0%, rgba(138, 138, 138, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%);
}

#card:hover {
    transform: scale(1.02)
}